:root{
   --primaty-text-color:#757575;
   --title-text-color:#212121;
   --link-color:#2196F3;
   --white-color:#FFFFFF;
   --bcg-heart-color:#2F303A;
   --bcg-button-portfolio-color:#F5F4FA;
}

/* студія */
body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: var(--primaty-text-color);
}

/* шапка */
.site-nav .link.current{
color: var(--link-color);
}

.logo-h{
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--title-text-color);
text-decoration: none;
}

.logo-part{
color: var(--link-color);
}

.site-nav{
list-style-type: none;
}

.link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--title-text-color);
text-decoration: none;
}

.contact{
   list-style-type: none;
}

.contact-list{
list-style: none ;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--primaty-text-color);
text-decoration: none;
}

.contact-list:hover,:focus{
color: var(--link-color);
}

/* серце */

.heart{
background-color: var(--bcg-heart-color);
}

.heart-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--white-color);
}

.button{
cursor: pointer;
background-color: var(--link-color);
color: var(--white-color);
}

/* особливості */

.feature-title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--title-text-color);
}

.feature-list{
   list-style: none;
}

.feature-item{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--primaty-text-color);
}

/* Чим ми займаємося */

.work-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--title-text-color);
}

.work-list{
   list-style: none;
}

/* Наша команда */

.team-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--title-text-color);
}

.team-list{
   list-style: none;
}

.title-list{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--title-text-color);
}

.team-item{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: var(--primaty-text-color);
}

/* футер */

.page-footer{
   background-color: var(--bcg-heart-color);
}

.logo-f{
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--white-color);
text-decoration: none;
}

.adress{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--white-color);
}

/* портфоліо */

.button-list{
   list-style: none;
}

.filters-button{
cursor: pointer;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--title-text-color);
background-color: var(--bcg-button-portfolio-color);
}

.filters-button:active{
   background-color: var(--link-color);
   color: var(--white-color);
}

.portfolio-list{
   list-style: none;
}

.portfolio-title{
   font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--title-text-color);
}

.portfolio-item{
   font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: var(--primaty-text-color);
}