:root{
   --primaty-text-color:#757575;
   --title-text-color:#212121;
   --link-color:#2196F3;
   --white-color:#FFFFFF;
   --bcg-heart-color:#2F303A;
   --bcg-button-portfolio-color:#F5F4FA;
   --footer-contact-color:rgba(255, 255, 255, 0.6);
}

/* студія */
body{
font-family: 'Roboto', sans-serif;
color: var(--primaty-text-color);
}

/* шапка */
.site-nav .link.current{ 
color: var(--link-color);
}

.logo-h{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--title-text-color);
text-decoration: none;
}

.logo-h:focus{
   color: var(--title-text-color);
 } 


.logo-part{
color: var(--link-color);
}


.site-nav{
list-style-type: none;
}

.link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--title-text-color);
text-decoration: none;
}
.link:hover
.link:focus{
   color: var(--link-color);
   background-color: var(--white-color);
}

.contact{
   list-style-type: none;
}

.contact-list{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--primaty-text-color);
text-decoration: none;
}

.contact-list:hover,:focus{
color: var(--link-color);
}

/* серце */

.heart{
background-color: var(--bcg-heart-color);
}

.heart-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--white-color);
text-transform: uppercase;
}

.button{
cursor: pointer;
background-color: var(--link-color);
color: var(--white-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
}

/* особливості */

.feature-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--title-text-color);
}

.feature-list{
   list-style: none;
}

.feature-item{
font-size: 14px;
line-height: 1.71;
color: var(--primaty-text-color);
}

/* Чим ми займаємося */

.work-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--title-text-color);
}

.work-list{
   list-style: none;
}

/* Наша команда */

.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--title-text-color);
}

.team-list{
   list-style: none;
}

.title-list{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--title-text-color);
}

.team-item{
font-size: 16px;
line-height: 1.18;
color: var(--primaty-text-color);
}

/* футер */

.page-footer{
   background-color: var(--bcg-heart-color);
}

.logo-f{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--white-color);
text-decoration: none;
}

.adress{
font-size: 14px;
line-height: 1.71;
color: var(--white-color);
text-decoration: none;
}

.contact-footer{
font-size: 14px;
line-height: 1.71x;
color: var(--footer-contact-color);
text-decoration: none;
}

/* портфоліо */

.button-list{
   list-style: none;
}

.filters-button{
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--title-text-color);
background-color: var(--bcg-button-portfolio-color);
}


.filters-button:hover,
.filters-button:focus{
   background-color: var(--link-color);
   color:var(--white-color)
}

.portfolio-list{
   list-style: none;
}

.portfolio-title{
 
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--title-text-color);
}

.portfolio-item{

font-size: 16px;
line-height: 1.87;
color: var(--primaty-text-color);
}

